@import "../variable";
@import "../mixin";

.advertisement {
  background: #ffcd46;
  padding: 60px 0;
  &__list-item {
    flex-direction: column;
    @include media(map-get($breakpoint, "md")) {
      flex-direction: row;
      flex: 33.33%;
    }
  }
  &__item {
    flex: 100%;
    text-align: center;
    margin-bottom: 20px;
    @include media(map-get($breakpoint, "lg")) {
      flex: 33.33%;
    }
  }
  &__wrap-logo {
    span {
      font-size: 50px;
      @include media(map-get($breakpoint, "sm")) {
        font-size: 40px;
      }
      @include media(map-get($breakpoint, "sm")) {
        font-size: 60px;
      }
    }
  }
  &__logo {
    margin-top: -5px;
    width: 30px;
    height: 35px;
    img {
      width: 100%;
    }
    @include media(map-get($breakpoint, "sm")) {
      width: 50px;
      height: 55px;
    }
    @include media(map-get($breakpoint, "md")) {
      width: 73px;
      height: 69px;
    }
  }
  &__content {
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    @include media(map-get($breakpoint, "xl")) {
      font-size: 24px;
    }
  }
  &__button {
    text-align: right;
    button {
      padding: 7px 30px;
      font-size: 15px;
      border: 3px solid map-get($text-color, "dark");
      background: transparent;
      @include media(map-get($breakpoint, "xl")) {
        padding: 13px 33px;
        font-size: 19px;
      }
    }
  }
}
