@import "../variable";
@import "../mixin";

header {
  top: 0;
  @include media(map-get($breakpoint, "xl")) {
    top: -54px;
  }
  .top-area {
    font-size: 14px;
    border-top: 5px solid map-get($text-color, "blue-light");
    &__location {
      margin-right: 10px;
    }

    &__location,
    &__phone-number {
      i {
        padding-right: 3px;
      }
      font-size: 16px;
    }

    &__list-social-network {
      li {
        padding: 0 8px;
      }
    }

    &__list-action {
      li {
        padding-right: 30px;
        a {
          transition: color 0.3s ease;
          i {
            font-size: 10px;
            padding-right: 5px;
          }
          &:hover {
            color: map-get($text-color, "blue-light");
          }
        }
      }
    }

    &__button {
      padding: 7px 13px 9px 13px;
      margin: 10px 0;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .menu {
    padding: 20px 0;
    @include media(map-get($breakpoint, "xl")) {
      padding: 0;
    }
    input {
      &:checked ~ .menu__item:nth-child(3) {
        transform: translateY(36px);
        visibility: visible;
        opacity: 0.9;
      }
      &:checked ~ .menu__btn-open::before {
        transform: rotateZ(45deg);
        transform-origin: top left;
      }
      &:checked ~ .menu__btn-open::after {
        transform: rotateZ(-45deg);
        transform-origin: bottom left;
      }
      &:checked ~ .menu__btn-open {
        border-color: transparent;
      }
    }

    &__btn-open {
      width: 17px;
      border-top: 1px solid map-get($text-color, "black");
      transition: all 0.1s;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        width: 17px;
        border-top: 1px solid map-get($text-color, "black");
        position: absolute;
        transition: all 0.3s ease-out;
      }
      &::before {
        top: -7px;
        height: 14px;
      }
      &::after {
        top: 5px;
      }
    }

    &__item {
      &:nth-child(3) {
        top: 30px;
        left: 0;
        height: 100vh;
        right: 0;
        bottom: 0;
        background: map-get($background-color, "white");
        padding-top: 40px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out 0.1s;
        @include media(map-get($breakpoint, "xl")) {
          visibility: visible;
          opacity: 1;
          padding-top: 0;
          height: initial;
          transform: translateY(0px) !important;
        }
      }
    }

    &__list-nav {
      text-align: center;
      & > li {
        padding: 20px 0;
        font-size: 14px;
        @include media(map-get($breakpoint, "xl")) {
          padding: 40px 40px 40px 0;
        }
        &:hover .menu__list-nav-sub {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }

    &__list-nav-sub {
      top: 100%;
      border-right: 1px solid map-get($text-color, "grey");
      border-top: 1px solid map-get($text-color, "grey");
      visibility: hidden;
      opacity: 0;
      transform: translateY(20px);
      transition: 0.3s ease-out 0.1s;

      & > li {
        padding: 20px 120px 20px 20px;
        cursor: pointer;
        border-bottom: 0.5px solid rgb(238, 238, 238);
        border-left: 4px solid transparent;
        font-size: 13px;
        transition: background-color 0.1s linear;
        &:hover {
          border-left: 4px solid map-get($text-color, "blue-light");
          background: map-get($background-color, "white");
        }
      }
    }
    &__action {
      & > div {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    &__cart {
      img {
        margin-right: 5px;
      }
      .triangle-left-icon {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #00bcd4;
      }
    }

    &__counter {
      font-size: 13px;
      span {
        padding-right: 5px;
        top: -1px;
      }
    }

    &__text {
      margin-left: 5px;
      font-size: 27px;
    }
  }
}
